.navbar {
list-style-type: none;
    padding: 0;
    margin: 0%;
     background-color: darkslategray;
display: flex;
justify-content: center;
display: block;
padding: 8px;
margin 0 10px;
text-color: gold;
}

nav {
    background-color: gold;
    text-align: center;
    padding: 3%;
    border-color: black;
    border-style: solid;
border-radius: 5px;
    border-width: 3px;
  
}
nav a {
    color: black
    margin: 0 15px;

}





.section {
    padding: 30px;
    margin: 40px auto;
    background-color: darkslategrey;
}


body {
    background-color: darkslategrey;
    color: gold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
}

/* Algemene body stijl */
/* Header */
header {
    background-color:darkolivegreen
    color: black;
    text-align: center;
    padding: 30px 0 10px 0;
}


nav a:hover {
    background-color: gold;
    color: black;
}

/* Parfumkaarten*/
.perfume-card {
    background-color: black;
    color: gold;
    border-radius: 2%;
    padding: 10px;
    margin: 10px;
    text-align: center;
}




/* parfum container*/
.perfume-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 10px auto;
}
    
.perfume-card h3 {
    margin-top: 0px;
    margin-bottom: 15px;
}

.perfume-card .price {
    font-weight: bold;
    margin-bottom: 15px;
    color: gold;
    display: block;
}

.perfume-card .description {
    font-size: 1em;
    color: gold;
}


   
.fotogrootte {
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
    

}
.flexrow{
    display: flex;
    justify-content: space-around;
}